@layer components {
    [type='checkbox'] {
        @apply w-[28px] h-[28px] rounded-md text-base border-2 border-secondary-lighten text-success focus:ring-success cursor-pointer;

        &.--small {
            @apply w-5 h-5;
        }
    }
}
