/* @import "parts/vendor.pcss"; */

@import "tailwindcss/tailwind.css";

@import "base/tailwind.pcss";

@import "base/theme.pcss";
@import "base/fonts.pcss";
@import "base/base.pcss";

@import "parts/components.pcss";
@import "parts/transitions.pcss";
